Cargo VPC
----------------------------------

{{cargo_vpc.id}}


Cargo Public Subnet 
----------------------------------

{{cargo_public_subnet}}


Cargo Internet Gateway
----------------------------------

{{cargo_igw}}


Cargo Router Table
----------------------------------

{{cargo_public_router}}
